root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{json,table,toml,yml}]
indent_size = 2
indent_style = space

[deny.toml]
max_line_length = 140 # no multiline inline tables in toml

[butane_cli/src/main.rs]
max_line_length = 400

[butane_migrations.rs]
indent_size = unset
max_line_length = unset

[types.json]
max_line_length = unset

[README.md]
max_line_length = 200

[Makefile]
indent_style = tab

[notes.org]
indent_size = unset
indent_style = unset

[*.md]
indent_size = unset

[LICENSE-APACHE.txt]
indent_size = unset
indent_style = unset
