root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 120

[butane_cli/src/main.rs]
max_line_length = 400

[butane_migrations.rs]
max_line_length = unset

[types.json]
max_line_length = unset

[README.md]
max_line_length = 200
