[package]
name = "butane_codegen"
version = "0.2.1"
authors = ["James Oakley <james@electronstudio.org>"]
edition = "2018"
description = "Macros for Butane. Do not use this crate directly -- use the butane crate."
readme = "../README.md"
license = "MIT OR Apache-2.0"
repository = "https://github.com/Electron100/butane"

[features]
datetime = []

[dependencies]
proc-macro2 = "1.0"
butane_core = { path = "../butane_core", version = "0.2.0" }
quote = "1.0"
syn = { version = "1.0", features = ["full", "extra-traits"] }
uuid = {version = "0.8", optional=true}

[lib]
proc-macro = true
